doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
script(src="js/main.js")
