$color-white : #fff;
$color-black : #000;

$color-warm  : #f29191;
$color-cool  : #91f2f2;

$color-light-back: #e3e1d7;
$color-dark-back : #cccbc6;

$color-gray:       #e3e3e1;
$color-light-gray: #f2f2f2;

//dropshadow
$color-shadow: #232323;

$color-main-text: #898989;