.imgRow {
    position: absolute;
    top: 0;
    background: url("../images/sam.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.imgRow-2 {
    position: absolute;
    top: 40%;
    bottom: 0;
    background: url("../images/view-from-the-top.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}